.DS_Store
/FinancasK/*.iml
/FinancasK/app/*.iml
/FinancasK/.gradle
/FinancasK/local.properties
/FinancasK/.idea/caches
/FinancasK/.idea/codeStyles
/FinancasK/.idea/misc.xml
/FinancasK/.idea/vcs.xml
/FinancasK/.idea/libraries
/FinancasK/.idea/modules.xml
/FinancasK/.idea/workspace.xml
/FinancasK/build
/FinancasK/captures
/FinancasK.externalNativeBuild
/Leilao/.idea/caches/build_file_checksums.ser
/Leilao/.idea/caches/gradle_models.ser
/Leilao/.idea/codeStyles/Project.xml
/Leilao/.idea/gradle.xml
/Leilao/.idea/misc.xml
/Leilao/.idea/vcs.xml
/Leilao_Mocks_Integracao/servidor/database
/Leilao_Mocks_Integracao/Leilao/*.iml
/Leilao_Mocks_Integracao/Leilao/app/*.iml
/Leilao_Mocks_Integracao/Leilao/app/gradle.properties
/Leilao_Mocks_Integracao/Leilao/.gradle
/Leilao_Mocks_Integracao/Leilao/local.properties
/Leilao_Mocks_Integracao/Leilao/build
/Leilao_Mocks_Integracao/Leilao/captures
/Leilao_Mocks_Integracao/Leilao/.externalNativeBuild
/Leilao_Mocks_Integracao/Leilao/.idea/caches/build_file_checksums.ser
/Leilao_Mocks_Integracao/Leilao/.idea/caches/gradle_models.ser
/Leilao_Mocks_Integracao/Leilao/.idea/codeStyles/Project.xml
/Leilao_Mocks_Integracao/Leilao/.idea/gradle.xml
/Leilao_Mocks_Integracao/Leilao/.idea/misc.xml
/Leilao_Mocks_Integracao/Leilao/.idea/vcs.xml
/Leilao_Mocks_Integracao/Leilao/.idea/kotlinc.xml
