.DS_Store
/FinancasK/*.iml
/FinancasK/app/*.iml
/FinancasK/.gradle
/FinancasK/local.properties
/FinancasK/.idea/caches
/FinancasK/.idea/codeStyles
/FinancasK/.idea/misc.xml
/FinancasK/.idea/vcs.xml
/FinancasK/.idea/libraries
/FinancasK/.idea/modules.xml
/FinancasK/.idea/workspace.xml
/FinancasK/build
/FinancasK/captures
/FinancasK.externalNativeBuild
/Leilao/.idea/caches/build_file_checksums.ser
/Leilao/.idea/caches/gradle_models.ser
/Leilao/.idea/codeStyles/Project.xml
/Leilao/.idea/gradle.xml
/Leilao/.idea/misc.xml
/Leilao/.idea/vcs.xml
/Leilao_Mocks_Integracao/servidor/database
/Leilao_Mocks_Integracao/Leilao/*.iml
/Leilao_Mocks_Integracao/Leilao/app/*.iml
/Leilao_Mocks_Integracao/Leilao/app/gradle.properties
/Leilao_Mocks_Integracao/Leilao/.gradle
/Leilao_Mocks_Integracao/Leilao/local.properties
/Leilao_Mocks_Integracao/Leilao/build
/Leilao_Mocks_Integracao/Leilao/captures
/Leilao_Mocks_Integracao/Leilao/.externalNativeBuild
/Leilao_Mocks_Integracao/Leilao/.idea/caches/build_file_checksums.ser
/Leilao_Mocks_Integracao/Leilao/.idea/caches/gradle_models.ser
/Leilao_Mocks_Integracao/Leilao/.idea/codeStyles/Project.xml
/Leilao_Mocks_Integracao/Leilao/.idea/gradle.xml
/Leilao_Mocks_Integracao/Leilao/.idea/misc.xml
/Leilao_Mocks_Integracao/Leilao/.idea/vcs.xml
/Leilao_Mocks_Integracao/Leilao/.idea/kotlinc.xml
/AndroidRoom/*.iml
/AndroidRoom/.gradle
/AndroidRoom/.idea/caches
/AndroidRoom/.idea/caches/build_file_checksums.ser
/AndroidRoom/.idea/libraries
/AndroidRoom/.idea/modules.xml
/AndroidRoom/.idea/workspace.xml
/AndroidRoom/build
/AndroidRoom/captures
/AndroidRoom/.externalNativeBuild
/AndroidRoom_parte2/*.iml
/AndroidRoom_parte2/app/*.iml
/AndroidRoom_parte2/.gradle
/AndroidRoom_parte2/.idea/caches
/AndroidRoom_parte2/.idea/caches/build_file_checksums.ser
/AndroidRoom_parte2/.idea/libraries
/AndroidRoom_parte2/.idea/modules.xml
/AndroidRoom_parte2/.idea/workspace.xml
/AndroidRoom_parte2/app/build
/AndroidRoom_parte2/build
/AndroidRoom_parte2/captures
/AndroidRoom_parte2/local.properties
/AndroidRoom_parte2/.externalNativeBuild
/AndroidWebService_parte1/.gradle
/AndroidWebService_parte1/local.properties
/AndroidWebService_parte1/.idea/workspace.xml
/AndroidWebService_parte1/.idea/libraries
/AndroidWebService_parte1/.DS_Store
/AndroidWebService_parte1/build
/AndroidWebService_parte1/captures
/AndroidWebService_LocalServer/database/main/db.lck
/AndroidWebService_LocalServer/database/main/db.log
/AndroidWebService_LocalServer/database/main/db.properties
/AndroidWebService_LocalServer/database/main/db.script
/AndroidWebService_parte2/.gradle
/AndroidWebService_parte2/local.properties
/AndroidWebService_parte2/.idea/workspace.xml
/AndroidWebService_parte2/.idea/libraries
/AndroidWebService_parte2/.DS_Store
/AndroidWebService_parte2/build
/AndroidWebService_parte2/captures
/AndroidWebService_parte2/app/google-services.json
/AndroidWebService_parte3/.gradle
/AndroidWebService_parte3/local.properties
/AndroidWebService_parte3/.idea/workspace.xml
/AndroidWebService_parte3/.idea/libraries
/AndroidWebService_parte3/.DS_Store
/AndroidWebService_parte3/build
/AndroidWebService_parte3/captures
/AndroidWebService_parte3/app/google-services.json
/AndroidWebService_parte3/.idea/caches/build_file_checksums.ser
/AndroidWebService_parte3/.idea/caches/gradle_models.ser
